<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="openarm_v11">

  <xacro:include filename="$(find openarm_description)/urdf/ros2_control/openarm.ros2_control.xacro" />
  <xacro:include filename="$(find openarm_description)/urdf/ros2_control/openarm.bimanual.ros2_control.xacro" />

  <xacro:arg name="arm_type" default="v11" />
  <xacro:arg name="body_type" default="v11" />
  <xacro:arg name="ee_type" default="openarm_hand_v2" />
  <xacro:arg name="bimanual" default="true" />
  <xacro:arg name="hand" default="true" />
  <xacro:arg name="ros2_control" default="false" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="can_interface" default="can0" />
  <xacro:arg name="left_can_interface" default="can1" />
  <xacro:arg name="right_can_interface" default="can0" />
  <xacro:arg name="arm_prefix" default="" />
  <xacro:arg name="left_arm_prefix" default="left_" />
  <xacro:arg name="right_arm_prefix" default="right_" />
  <xacro:arg name="motor_backend" default="robstride" />
  <xacro:arg name="robstride_master_id" default="253" />
  <xacro:arg name="robstride_joint_ids" default="1,2,3,4,5,6,7" />
  <xacro:arg name="robstride_joint_types" default="3,3,6,6,0,0,0" />
  <xacro:arg name="robstride_gripper_id" default="8" />
  <xacro:arg name="robstride_gripper_type" default="0" />
  <xacro:arg name="auto_return_to_zero_on_activate" default="false" />
  <xacro:arg name="limit_margin" default="0.1" />
  <xacro:arg name="limit_stop_margin" default="0.02" />
  <xacro:arg name="limit_decel_factor" default="0.2" />
  <xacro:arg name="zero_torque_kd" default="0.3" />

  <xacro:property name="arm_type" value="$(arg arm_type)" />
  <xacro:property name="body_type" value="$(arg body_type)" />
  <xacro:property name="ee_type" value="$(arg ee_type)" />
  <xacro:property name="bimanual" value="$(arg bimanual)" />
  <xacro:property name="hand" value="$(arg hand)" />
  <xacro:property name="ros2_control" value="$(arg ros2_control)" />
  <xacro:property name="use_fake_hardware" value="$(arg use_fake_hardware)" />
  <xacro:property name="can_interface" value="$(arg can_interface)" />
  <xacro:property name="left_can_interface" value="$(arg left_can_interface)" />
  <xacro:property name="right_can_interface" value="$(arg right_can_interface)" />
  <xacro:property name="arm_prefix" value="$(arg arm_prefix)" />
  <xacro:property name="left_arm_prefix" value="$(arg left_arm_prefix)" />
  <xacro:property name="right_arm_prefix" value="$(arg right_arm_prefix)" />
  <xacro:property name="motor_backend" value="$(arg motor_backend)" />
  <xacro:property name="robstride_master_id" value="$(arg robstride_master_id)" />
  <xacro:property name="robstride_joint_ids" value="$(arg robstride_joint_ids)" />
  <xacro:property name="robstride_joint_types" value="$(arg robstride_joint_types)" />
  <xacro:property name="robstride_gripper_id" value="$(arg robstride_gripper_id)" />
  <xacro:property name="robstride_gripper_type" value="$(arg robstride_gripper_type)" />
  <xacro:property name="auto_return_to_zero_on_activate" value="$(arg auto_return_to_zero_on_activate)" />
  <xacro:property name="limit_margin" value="$(arg limit_margin)" />
  <xacro:property name="limit_stop_margin" value="$(arg limit_stop_margin)" />
  <xacro:property name="limit_decel_factor" value="$(arg limit_decel_factor)" />
  <xacro:property name="zero_torque_kd" value="$(arg zero_torque_kd)" />

  <xacro:property name="v11_root_name" value="openarm_body_link0" />

  <xacro:macro name="v11_link" params="name visual_mesh collision_mesh inertial_xyz inertial_rpy mass ixx ixy ixz iyy iyz izz">
    <link name="${name}">
      <visual name="${name}_visual">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://openarm_description/${visual_mesh}" />
        </geometry>
      </visual>
      <collision name="${name}_collision">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://openarm_description/${collision_mesh}" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${inertial_xyz}" rpy="${inertial_rpy}" />
        <mass value="${mass}" />
        <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
      </inertial>
    </link>
  </xacro:macro>

  <xacro:macro name="v11_joint" params="name parent child xyz rpy:='0 0 0' axis lower upper effort velocity">
    <joint name="${name}" type="revolute">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent}" />
      <child link="${child}" />
      <axis xyz="${axis}" />
      <limit lower="${lower}" upper="${upper}" effort="${effort}" velocity="${velocity}" />
    </joint>
  </xacro:macro>

  <xacro:macro name="v11_finger" params="link_name visual_mesh collision_mesh inertial_xyz inertial_rpy mass ixx ixy ixz iyy iyz izz joint_name parent child xyz rpy:='0 0 0' axis lower upper effort velocity mimic:='none'">
    <xacro:v11_link name="${link_name}"
                    visual_mesh="${visual_mesh}"
                    collision_mesh="${collision_mesh}"
                    inertial_xyz="${inertial_xyz}"
                    inertial_rpy="${inertial_rpy}"
                    mass="${mass}"
                    ixx="${ixx}"
                    ixy="${ixy}"
                    ixz="${ixz}"
                    iyy="${iyy}"
                    iyz="${iyz}"
                    izz="${izz}" />
    <joint name="${joint_name}" type="prismatic">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent}" />
      <child link="${child}" />
      <axis xyz="${axis}" />
      <limit lower="${lower}" upper="${upper}" effort="${effort}" velocity="${velocity}" />
      <xacro:if value="${mimic != 'none'}">
        <mimic joint="${mimic}" multiplier="-1" offset="0" />
      </xacro:if>
    </joint>
  </xacro:macro>

  <xacro:macro name="v11_arm_left">
    <xacro:v11_link name="${v11_root_name}"
                    visual_mesh="meshes/body/v11/visual/base_link.stl"
                    collision_mesh="meshes/body/v11/collision/base_link.stl"
                    inertial_xyz="-1.82005540788621E-06 0.0104759455340258 0.0403025677810676"
                    inertial_rpy="0 0 0"
                    mass="17.1246745530179"
                    ixx="0.309184925219022"
                    ixy="3.34895418379465E-08"
                    ixz="2.03870175809324E-07"
                    iyy="0.310206672448114"
                    iyz="0.00174267114233789"
                    izz="0.0462888399799661" />

    <xacro:v11_link name="openarm_left_link0"
                    visual_mesh="meshes/arm/v11/visual/left_arm1_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/left_arm1_Link.stl"
                    inertial_xyz="0.0480045329279139 -0.0111780933430691 0.00210044226141293"
                    inertial_rpy="0 0 0"
                    mass="2.57319790411754"
                    ixx="0.00372215542814913"
                    ixy="-0.000198478401194159"
                    ixz="0.00011000547409781"
                    iyy="0.00577924266678779"
                    iyz="-0.000123857397080142"
                    izz="0.00414606759160256" />
    <xacro:v11_joint name="openarm_left_joint1" parent="${v11_root_name}" child="openarm_left_link0"
             xyz="0.0875 0.00016852 0.31809" axis="-1 0 0" lower="-1.6417" upper="3.2402" effort="40" velocity="16.754666" />

    <xacro:v11_link name="openarm_left_link1"
                    visual_mesh="meshes/arm/v11/visual/left_arm2_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/left_arm2_Link.stl"
                    inertial_xyz="0.000649361602108663 0.0112598263821997 -0.0257562655056198"
                    inertial_rpy="0 0 0"
                    mass="1.1280339793596"
                    ixx="0.000922612820231134"
                    ixy="1.76867729900132E-05"
                    ixz="4.6387716010311E-05"
                    iyy="0.0013466272822166"
                    iyz="-6.47298485371848E-05"
                    izz="0.00070581033596149" />
    <xacro:v11_joint name="openarm_left_joint2" parent="openarm_left_link0" child="openarm_left_link1"
             xyz="0.067 0.0229 0" axis="0 1 0" lower="-2.8723" upper="0.38" effort="40" velocity="16.754666" />

    <xacro:v11_link name="openarm_left_link2"
                    visual_mesh="meshes/arm/v11/visual/left_arm3_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/left_arm3_Link.stl"
                    inertial_xyz="0.00220744162621003 -0.00271173738626979 -0.108110045952702"
                    inertial_rpy="0 0 0"
                    mass="3.71554497600347"
                    ixx="0.00866611647354032"
                    ixy="-5.31214309427605E-06"
                    ixz="0.000297766108634877"
                    iyy="0.0105443142351616"
                    iyz="-2.28289608066285E-05"
                    izz="0.00440635448139935" />
    <xacro:v11_joint name="openarm_left_joint3" parent="openarm_left_link1" child="openarm_left_link2"
             xyz="0 -0.0229 -0.07825" axis="0 0 -1" lower="-3.136" upper="0" effort="27" velocity="5.445426" />

    <xacro:v11_link name="openarm_left_link3"
                    visual_mesh="meshes/arm/v11/visual/left_arm4_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/left_arm4_Link.stl"
                    inertial_xyz="0.00212064568644623 0.000955090489848667 -0.0703526411266336"
                    inertial_rpy="0 0 0"
                    mass="1.59739797122938"
                    ixx="0.00119977088314355"
                    ixy="6.12992894060443E-06"
                    ixz="-3.17256899492959E-05"
                    iyy="0.000962261619507722"
                    iyz="-3.0729045516396E-06"
                    izz="0.000788633962220792" />
    <xacro:v11_joint name="openarm_left_joint4" parent="openarm_left_link2" child="openarm_left_link3"
             xyz="0 0.0005 -0.1625" axis="0 1 0" lower="0" upper="2.43" effort="27" velocity="5.445426" />

    <xacro:v11_link name="openarm_left_link4"
                    visual_mesh="meshes/arm/v11/visual/left_arm5_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/left_arm5_Link.stl"
                    inertial_xyz="0.000524358960045393 0.00272914225255691 -0.0464380946405264"
                    inertial_rpy="0 0 0"
                    mass="2.31218933657483"
                    ixx="0.00156721240432494"
                    ixy="-1.80623512064942E-05"
                    ixz="-9.97637415892027E-06"
                    iyy="0.00205157657794676"
                    iyz="-1.49704076431968E-05"
                    izz="0.00136173787350268" />
    <xacro:v11_joint name="openarm_left_joint5" parent="openarm_left_link3" child="openarm_left_link4"
             xyz="0 0 -0.1049" axis="0 0 -1" lower="-2.61" upper="0" effort="7" velocity="20.943946" />

    <xacro:v11_link name="openarm_left_link5"
                    visual_mesh="meshes/arm/v11/visual/left_arm6_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/left_arm6_Link.stl"
                    inertial_xyz="-0.00448964915099263 -0.000304670787295167 9.6349233786347E-05"
                    inertial_rpy="0 0 0"
                    mass="1.14412624328875"
                    ixx="0.000454176313831751"
                    ixy="-7.50681680226991E-08"
                    ixz="-7.70851001210619E-09"
                    iyy="0.000444505185290601"
                    iyz="-3.36703082686828E-08"
                    izz="0.000440705716632065" />
    <xacro:v11_joint name="openarm_left_joint6" parent="openarm_left_link4" child="openarm_left_link5"
             xyz="0 0 -0.1205" axis="0 1 0" lower="-0.549" upper="0.544" effort="7" velocity="20.943946" />

    <xacro:v11_link name="openarm_left_link6"
                    visual_mesh="meshes/arm/v11/visual/left_arm7_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/left_arm7_Link.stl"
                    inertial_xyz="-0.0155911006982354 -4.98400359086326E-06 -0.0668549382737284"
                    inertial_rpy="0 0 0"
                    mass="1.99130437566683"
                    ixx="0.00136775334927534"
                    ixy="-1.3565315535365E-05"
                    ixz="-0.00010756410590634"
                    iyy="0.00131567993993398"
                    iyz="-1.81897485042685E-07"
                    izz="0.00119230890937229" />
    <xacro:v11_joint name="openarm_left_joint7" parent="openarm_left_link5" child="openarm_left_link6"
             xyz="0.0199 9.503E-05 0" axis="1 0 0" lower="-1.54" upper="1.55" effort="7" velocity="20.943946" />

    <link name="openarm_left_link7" />
    <joint name="openarm_left_link6_to_link7" type="fixed">
      <parent link="openarm_left_link6" />
      <child link="openarm_left_link7" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="openarm_left_hand" />
    <joint name="openarm_left_hand_joint" type="fixed">
      <parent link="openarm_left_link7" />
      <child link="openarm_left_hand" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <xacro:v11_finger link_name="openarm_left_right_finger"
                      visual_mesh="meshes/ee/openarm_hand_v2/visual/left_arm81_Link.stl"
                      collision_mesh="meshes/ee/openarm_hand_v2/collision/left_arm81_Link.stl"
                      inertial_xyz="0.00174430625369484 0.00105128419980135 -0.0247630613883251"
                      inertial_rpy="0 0 0"
                      mass="0.2942959897978"
                      ixx="0.000154516089150875"
                      ixy="-6.25378755156007E-07"
                      ixz="2.03965775039394E-05"
                      iyy="0.000118380380192664"
                      iyz="3.63408371789587E-06"
                      izz="7.05930296978855E-05"
                      joint_name="openarm_left_finger_joint1"
                      parent="openarm_left_hand"
                      child="openarm_left_right_finger"
                      xyz="-0.038861 0 -0.119"
                      axis="-1 0 0"
                      lower="0.0"
                      upper="0.042"
                      effort="7"
                      velocity="20" />

    <xacro:v11_finger link_name="openarm_left_left_finger"
                      visual_mesh="meshes/ee/openarm_hand_v2/visual/left_arm82_Link.stl"
                      collision_mesh="meshes/ee/openarm_hand_v2/collision/left_arm82_Link.stl"
                      inertial_xyz="-0.00174423622248679 -0.00203528068818976 -0.0247637662278517"
                      inertial_rpy="0 0 0"
                      mass="0.294298575492402"
                      ixx="0.000154902720324063"
                      ixy="-5.22134102821928E-08"
                      ixz="-2.03974032576715E-05"
                      iyy="0.00011838635065682"
                      iyz="-3.71817628972701E-06"
                      izz="7.0974042676623E-05"
                      joint_name="openarm_left_finger_joint2"
                      parent="openarm_left_hand"
                      child="openarm_left_left_finger"
                      xyz="-0.0021386 0 -0.119"
                      axis="-1 0 0"
                      lower="-0.042"
                      upper="0.0"
                      effort="7"
                      velocity="20"
                      mimic="openarm_left_finger_joint1" />
  </xacro:macro>

  <xacro:macro name="v11_arm_right">
    <xacro:v11_link name="openarm_right_link0"
                    visual_mesh="meshes/arm/v11/visual/right_arm1_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/right_arm1_Link.stl"
                    inertial_xyz="-0.0480061082749797 -0.0111696779911151 0.00209303907012159"
                    inertial_rpy="0 0 0"
                    mass="2.57333715237382"
                    ixx="0.00372282819438159"
                    ixy="0.000200398182002667"
                    ixz="-0.000109999923903081"
                    iyy="0.00577321453550588"
                    iyz="-0.000124042721312315"
                    izz="0.00413997184712869" />
    <xacro:v11_joint name="openarm_right_joint1" parent="${v11_root_name}" child="openarm_right_link0"
             xyz="-0.0875 0.00016852 0.31809" axis="1 0 0" lower="-3.23" upper="1.65" effort="40" velocity="16.754666" />

    <xacro:v11_link name="openarm_right_link1"
                    visual_mesh="meshes/arm/v11/visual/right_arm2_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/right_arm2_Link.stl"
                    inertial_xyz="-0.000714239868949751 0.011276887049903 -0.0257171103059356"
                    inertial_rpy="0 0 0"
                    mass="1.12612163899098"
                    ixx="0.000980220836271198"
                    ixy="-3.44168103021945E-06"
                    ixz="-1.99304234944569E-05"
                    iyy="0.00140682900137128"
                    iyz="-8.89624654070938E-05"
                    izz="0.000734837027518902" />
    <xacro:v11_joint name="openarm_right_joint2" parent="openarm_right_link0" child="openarm_right_link1"
             xyz="-0.067 0.0229 0" axis="0 1 0" lower="-0.376" upper="2.86" effort="40" velocity="16.754666" />

    <xacro:v11_link name="openarm_right_link2"
                    visual_mesh="meshes/arm/v11/visual/right_arm3_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/right_arm3_Link.stl"
                    inertial_xyz="-0.00220982548408741 -0.00270589467469075 -0.10811687226573"
                    inertial_rpy="0 0 0"
                    mass="3.71536352895561"
                    ixx="0.00866617006254333"
                    ixy="5.5703857978958E-06"
                    ixz="-0.000297988448108879"
                    iyy="0.0105436692005882"
                    iyz="-1.99296603006717E-05"
                    izz="0.00440602027471473" />
    <xacro:v11_joint name="openarm_right_joint3" parent="openarm_right_link1" child="openarm_right_link2"
             xyz="0 -0.0229 -0.07825" axis="0 0 1" lower="-3.13" upper="0" effort="27" velocity="5.445426" />

    <xacro:v11_link name="openarm_right_link3"
                    visual_mesh="meshes/arm/v11/visual/right_arm4_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/right_arm4_Link.stl"
                    inertial_xyz="-0.00186673976098103 0.000979097432766016 -0.0708350000125522"
                    inertial_rpy="0 0 0"
                    mass="1.56367733010346"
                    ixx="0.0011490015382641"
                    ixy="-6.06493675322326E-06"
                    ixz="2.76491129326544E-05"
                    iyy="0.000940797611654023"
                    iyz="-3.10629743048611E-06"
                    izz="0.000744572342422419" />
    <xacro:v11_joint name="openarm_right_joint4" parent="openarm_right_link2" child="openarm_right_link3"
             xyz="0 0.0005 -0.1625" axis="0 -1 0" lower="0" upper="2.43" effort="27" velocity="5.445426" />

    <xacro:v11_link name="openarm_right_link4"
                    visual_mesh="meshes/arm/v11/visual/right_arm5_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/right_arm5_Link.stl"
                    inertial_xyz="-0.000523555624400762 0.00274645754529888 -0.0464327175111026"
                    inertial_rpy="0 0 0"
                    mass="2.31363347448604"
                    ixx="0.00156753196967428"
                    ixy="1.78142579257232E-05"
                    ixz="1.02123602529741E-05"
                    iyy="0.00205161023663132"
                    iyz="-1.30884791954037E-05"
                    izz="0.00136198187444932" />
    <xacro:v11_joint name="openarm_right_joint5" parent="openarm_right_link3" child="openarm_right_link4"
             xyz="0 0 -0.1049" axis="0 0 1" lower="-2.6" upper="0" effort="7" velocity="20.943946" />

    <xacro:v11_link name="openarm_right_link5"
                    visual_mesh="meshes/arm/v11/visual/right_arm6_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/right_arm6_Link.stl"
                    inertial_xyz="0.00449063218817172 -0.000405334785863881 9.6367179786347E-05"
                    inertial_rpy="0 0 0"
                    mass="1.1439357726458"
                    ixx="0.000454167656194093"
                    ixy="8.02885823384193E-08"
                    ixz="7.72205584654607E-09"
                    iyy="0.000444481273557403"
                    iyz="-2.8989863910762E-08"
                    izz="0.000440679151192924" />
    <xacro:v11_joint name="openarm_right_joint6" parent="openarm_right_link4" child="openarm_right_link5"
             xyz="0 9.50288425331097E-05 -0.12049999999997" axis="0 1 0" lower="-0.5246" upper="0.5641" effort="7" velocity="20.943946" />

    <xacro:v11_link name="openarm_right_link6"
                    visual_mesh="meshes/arm/v11/visual/right_arm7_Link.stl"
                    collision_mesh="meshes/arm/v11/collision/right_arm7_Link.stl"
                    inertial_xyz="0.0156204713288138 -3.9656016521325E-06 -0.0668797073479057"
                    inertial_rpy="0 0 0"
                    mass="1.99444366511857"
                    ixx="0.00136983770137066"
                    ixy="1.3516241801553E-05"
                    ixz="0.000106410056465149"
                    iyy="0.00131544113910644"
                    iyz="-1.56707500572461E-07"
                    izz="0.00119444844111148" />
    <xacro:v11_joint name="openarm_right_joint7" parent="openarm_right_link5" child="openarm_right_link6"
             xyz="-0.0199 0 0" axis="-1 0 0" lower="-1.54" upper="1.54" effort="7" velocity="20.943946" />

    <link name="openarm_right_link7" />
    <joint name="openarm_right_link6_to_link7" type="fixed">
      <parent link="openarm_right_link6" />
      <child link="openarm_right_link7" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="openarm_right_hand" />
    <joint name="openarm_right_hand_joint" type="fixed">
      <parent link="openarm_right_link7" />
      <child link="openarm_right_hand" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <xacro:v11_finger link_name="openarm_right_right_finger"
                      visual_mesh="meshes/ee/openarm_hand_v2/visual/right_arm81_Link.stl"
                      collision_mesh="meshes/ee/openarm_hand_v2/collision/right_arm81_Link.stl"
                      inertial_xyz="0.00174459582745085 -0.00203485100912274 -0.0247648207082906"
                      inertial_rpy="0 0 0"
                      mass="0.294304332081289"
                      ixx="0.000154913368535307"
                      ixy="5.13162140746732E-08"
                      ixz="2.04009128314227E-05"
                      iyy="0.000118397501949414"
                      iyz="-3.71528523148725E-06"
                      izz="7.09757217040894E-05"
                      joint_name="openarm_right_finger_joint1"
                      parent="openarm_right_hand"
                      child="openarm_right_right_finger"
                      xyz="0.0021386 0 -0.119"
                      axis="-1 0 0"
                      lower="0.0"
                      upper="0.042"
                      effort="7"
                      velocity="20" />

    <xacro:v11_finger link_name="openarm_right_left_finger"
                      visual_mesh="meshes/ee/openarm_hand_v2/visual/right_arm82_Link.stl"
                      collision_mesh="meshes/ee/openarm_hand_v2/collision/right_arm82_Link.stl"
                      inertial_xyz="-0.00174456241573778 0.00105106640389289 -0.024764044352225"
                      inertial_rpy="0 0 0"
                      mass="0.294302444807633"
                      ixx="0.000154524335994192"
                      ixy="6.24762318849484E-07"
                      ixz="-2.0399715589211E-05"
                      iyy="0.000118389415887181"
                      iyz="3.63228070901981E-06"
                      izz="7.05945142354783E-05"
                      joint_name="openarm_right_finger_joint2"
                      parent="openarm_right_hand"
                      child="openarm_right_left_finger"
                      xyz="0.038861 0 -0.119"
                      axis="-1 0 0"
                      lower="-0.042"
                      upper="0.0"
                      effort="7"
                      velocity="20"
                      mimic="openarm_right_finger_joint1" />
  </xacro:macro>

  <xacro:macro name="v11_head">
    <xacro:v11_link name="head_Link"
                    visual_mesh="meshes/head/v11/visual/head_Link.stl"
                    collision_mesh="meshes/head/v11/collision/head_Link.stl"
                    inertial_xyz="1.48674297188733E-06 -0.000135350251949988 0.00773679119540094"
                    inertial_rpy="0 0 0"
                    mass="1.05489911050964"
                    ixx="0.000657692435770286"
                    ixy="9.22870414631037E-09"
                    ixz="-3.64147516099566E-08"
                    iyy="0.00158015459015984"
                    iyz="2.01477490038971E-05"
                    izz="0.00134495593409289" />
    <joint name="head_Joint" type="fixed">
      <origin xyz="0 0 0.42804" rpy="0 0 0" />
      <parent link="${v11_root_name}" />
      <child link="head_Link" />
      <axis xyz="0 0 0" />
    </joint>

    <xacro:v11_link name="camera_Link"
                    visual_mesh="meshes/sensors/v11/visual/camera_Link.stl"
                    collision_mesh="meshes/sensors/v11/collision/camera_Link.stl"
                    inertial_xyz="0.000245614380846568 0.000549780247581344 -6.02931069124679E-05"
                    inertial_rpy="0 0 0"
                    mass="0.349032513178116"
                    ixx="3.07698812852793E-05"
                    ixy="-1.90719784716299E-06"
                    ixz="-2.41042331711781E-08"
                    iyy="0.00021276880577103"
                    iyz="8.46310658563583E-09"
                    izz="0.000213427990375508" />
    <joint name="camera_Joint" type="fixed">
      <origin xyz="0 -0.029194 0.45749" rpy="0.43633 0 0" />
      <parent link="${v11_root_name}" />
      <child link="camera_Link" />
      <axis xyz="0 0 0" />
    </joint>
  </xacro:macro>

  <xacro:if value="${bimanual}">
    <xacro:v11_arm_left />
    <xacro:v11_arm_right />
    <xacro:v11_head />
  </xacro:if>

  <xacro:unless value="${bimanual}">
    <xacro:if value="${arm_prefix == 'right_'}">
      <xacro:v11_arm_right />
    </xacro:if>
    <xacro:unless value="${arm_prefix == 'right_'}">
      <xacro:v11_arm_left />
    </xacro:unless>
    <xacro:v11_head />
  </xacro:unless>

  <!-- 地面坐标系锚点：world 与机身基座 (body_link0) 重合。
       真机 / MoveIt / 仿真共用；仿真若需离地高度请在 spawn 时加 -z 偏移，
       不要在此处修改 world→base 变换。 -->
  <link name="world" />
  <joint name="world_to_openarm" type="fixed">
    <origin xyz="0 0 0.38" rpy="0 0 0" />
    <parent link="world" />
    <child link="${v11_root_name}" />
  </joint>

  <xacro:if value="${ros2_control}">
    <xacro:if value="${bimanual}">
      <xacro:openarm_bimanual_ros2_control
        arm_type="${arm_type}"
        control_gains="${xacro.load_yaml('$(find openarm_description)/config/arm/v10/control_gains.yaml')}"
        left_can_interface="${left_can_interface}"
        right_can_interface="${right_can_interface}"
        motor_backend="${motor_backend}"
        robstride_master_id="${robstride_master_id}"
        robstride_joint_ids="${robstride_joint_ids}"
        robstride_joint_types="${robstride_joint_types}"
        robstride_gripper_id="${robstride_gripper_id}"
        robstride_gripper_type="${robstride_gripper_type}"
        auto_return_to_zero_on_activate="${auto_return_to_zero_on_activate}"
        limit_margin="${limit_margin}"
        limit_stop_margin="${limit_stop_margin}"
        limit_decel_factor="${limit_decel_factor}"
        zero_torque_kd="${zero_torque_kd}"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="false"
        hand="${hand}"
        left_arm_prefix="left_"
        right_arm_prefix="right_"
        can_fd="true" />
    </xacro:if>
    <xacro:unless value="${bimanual}">
      <xacro:openarm_arm_ros2_control
        arm_type="${arm_type}"
        control_gains="${xacro.load_yaml('$(find openarm_description)/config/arm/v10/control_gains.yaml')}"
        can_interface="${can_interface}"
        motor_backend="${motor_backend}"
        robstride_master_id="${robstride_master_id}"
        robstride_joint_ids="${robstride_joint_ids}"
        robstride_joint_types="${robstride_joint_types}"
        robstride_gripper_id="${robstride_gripper_id}"
        robstride_gripper_type="${robstride_gripper_type}"
        auto_return_to_zero_on_activate="${auto_return_to_zero_on_activate}"
        limit_margin="${limit_margin}"
        limit_stop_margin="${limit_stop_margin}"
        limit_decel_factor="${limit_decel_factor}"
        zero_torque_kd="${zero_torque_kd}"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="false"
        hand="${hand}"
        arm_prefix="${arm_prefix}"
        can_fd="true" />
    </xacro:unless>
  </xacro:if>

</robot>
