<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="openarm_v11">

  <xacro:include filename="$(find openarm_description)/urdf/ros2_control/openarm.ros2_control.xacro" />
  <xacro:include filename="$(find openarm_description)/urdf/ros2_control/openarm.bimanual.ros2_control.xacro" />

  <xacro:arg name="arm_type" default="v11" />
  <xacro:arg name="body_type" default="v11" />
  <xacro:arg name="ee_type" default="openarm_hand_v2" />
  <xacro:arg name="bimanual" default="true" />
  <xacro:arg name="hand" default="true" />
  <xacro:arg name="ros2_control" default="false" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="can_interface" default="can0" />
  <xacro:arg name="left_can_interface" default="can1" />
  <xacro:arg name="right_can_interface" default="can0" />
  <xacro:arg name="arm_prefix" default="" />
  <xacro:arg name="left_arm_prefix" default="left_" />
  <xacro:arg name="right_arm_prefix" default="right_" />
  <xacro:arg name="motor_backend" default="robstride" />
  <xacro:arg name="robstride_master_id" default="253" />
  <xacro:arg name="robstride_joint_ids" default="1,2,3,4,5,6,7" />
  <xacro:arg name="robstride_joint_types" default="3,3,6,6,0,0,0" />
  <xacro:arg name="robstride_gripper_id" default="8" />
  <xacro:arg name="robstride_gripper_type" default="0" />
  <xacro:arg name="auto_return_to_zero_on_activate" default="false" />
  <xacro:arg name="limit_margin" default="0.1" />
  <xacro:arg name="limit_stop_margin" default="0.02" />
  <xacro:arg name="limit_decel_factor" default="0.2" />
  <xacro:arg name="zero_torque_kd" default="0.3" />

  <xacro:property name="arm_type" value="$(arg arm_type)" />
  <xacro:property name="body_type" value="$(arg body_type)" />
  <xacro:property name="ee_type" value="$(arg ee_type)" />
  <xacro:property name="bimanual" value="$(arg bimanual)" />
  <xacro:property name="hand" value="$(arg hand)" />
  <xacro:property name="ros2_control" value="$(arg ros2_control)" />
  <xacro:property name="use_fake_hardware" value="$(arg use_fake_hardware)" />
  <xacro:property name="can_interface" value="$(arg can_interface)" />
  <xacro:property name="left_can_interface" value="$(arg left_can_interface)" />
  <xacro:property name="right_can_interface" value="$(arg right_can_interface)" />
  <xacro:property name="arm_prefix" value="$(arg arm_prefix)" />
  <xacro:property name="left_arm_prefix" value="$(arg left_arm_prefix)" />
  <xacro:property name="right_arm_prefix" value="$(arg right_arm_prefix)" />
  <xacro:property name="motor_backend" value="$(arg motor_backend)" />
  <xacro:property name="robstride_master_id" value="$(arg robstride_master_id)" />
  <xacro:property name="robstride_joint_ids" value="$(arg robstride_joint_ids)" />
  <xacro:property name="robstride_joint_types" value="$(arg robstride_joint_types)" />
  <xacro:property name="robstride_gripper_id" value="$(arg robstride_gripper_id)" />
  <xacro:property name="robstride_gripper_type" value="$(arg robstride_gripper_type)" />
  <xacro:property name="auto_return_to_zero_on_activate" value="$(arg auto_return_to_zero_on_activate)" />
  <xacro:property name="limit_margin" value="$(arg limit_margin)" />
  <xacro:property name="limit_stop_margin" value="$(arg limit_stop_margin)" />
  <xacro:property name="limit_decel_factor" value="$(arg limit_decel_factor)" />
  <xacro:property name="zero_torque_kd" value="$(arg zero_torque_kd)" />

  <xacro:property name="v11_root_name" value="openarm_body_link0" />

  <xacro:macro name="v11_link" params="name visual_mesh collision_mesh inertial_xyz inertial_rpy mass ixx ixy ixz iyy iyz izz">
    <link name="${name}">
      <visual name="${name}_visual">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://openarm_description/${visual_mesh}" />
        </geometry>
      </visual>
      <collision name="${name}_collision">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://openarm_description/${collision_mesh}" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${inertial_xyz}" rpy="${inertial_rpy}" />
        <mass value="${mass}" />
        <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
      </inertial>
    </link>
  </xacro:macro>

  <xacro:macro name="v11_joint" params="name parent child xyz rpy:='0 0 0' axis lower upper effort velocity">
    <joint name="${name}" type="revolute">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent}" />
      <child link="${child}" />
      <axis xyz="${axis}" />
      <limit lower="${lower}" upper="${upper}" effort="${effort}" velocity="${velocity}" />
    </joint>
  </xacro:macro>

  <xacro:macro name="v11_fixed_joint" params="name parent child xyz rpy:='0 0 0'">
    <joint name="${name}" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent}" />
      <child link="${child}" />
    </joint>
  </xacro:macro>

  <xacro:macro name="v11_finger" params="link_name visual_mesh collision_mesh inertial_xyz inertial_rpy mass ixx ixy ixz iyy iyz izz joint_name parent child xyz rpy:='0 0 0' axis lower upper effort velocity mimic:='none'">
    <xacro:v11_link name="${link_name}"
                    visual_mesh="${visual_mesh}"
                    collision_mesh="${collision_mesh}"
                    inertial_xyz="${inertial_xyz}"
                    inertial_rpy="${inertial_rpy}"
                    mass="${mass}"
                    ixx="${ixx}"
                    ixy="${ixy}"
                    ixz="${ixz}"
                    iyy="${iyy}"
                    iyz="${iyz}"
                    izz="${izz}" />
    <joint name="${joint_name}" type="prismatic">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent}" />
      <child link="${child}" />
      <axis xyz="${axis}" />
      <limit lower="${lower}" upper="${upper}" effort="${effort}" velocity="${velocity}" />
      <xacro:if value="${mimic != 'none'}">
        <mimic joint="${mimic}" multiplier="-1" offset="0" />
      </xacro:if>
    </joint>
  </xacro:macro>

  <xacro:macro name="v11_arm_left">
    <xacro:v11_link name="${v11_root_name}"
                    visual_mesh="meshes/body/v11/visual/openarm_body_link0.stl"
                    collision_mesh="meshes/body/v11/collision/openarm_body_link0.stl"
                    inertial_xyz="-4.57184220367034E-08 0.013384586218794 -0.103719321664733"
                    inertial_rpy="0 0 0"
                    mass="8.23887033715524"
                    ixx="0.274171101182457"
                    ixy="-6.15580914260838E-09"
                    ixz="3.36665520693529E-09"
                    iyy="0.271411514490283"
                    iyz="0.00144598927879418"
                    izz="0.0144958362316102" />

    <xacro:v11_link name="openarm_left_link0"
                    visual_mesh="meshes/arm/v11/visual/openarm_left_link0.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_left_link0.stl"
                    inertial_xyz="-4.01418593984695E-05 0.0017621923356318 0.000864536126460091"
                    inertial_rpy="0 0 0"
                    mass="1.29923349213354"
                    ixx="0.00202401865845947"
                    ixy="9.04189422026575E-06"
                    ixz="5.74186946093742E-07"
                    iyy="0.00143576529384292"
                    iyz="-9.17302553697285E-06"
                    izz="0.00105002491947796" />
    
    <xacro:v11_fixed_joint name="openarm_left_joint0"
                           parent="${v11_root_name}"
                           child="openarm_left_link0"
                           xyz="0.05795 0 0.31803" />

    <xacro:v11_link name="openarm_left_link1"
                    visual_mesh="meshes/arm/v11/visual/openarm_left_link1.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_left_link1.stl"
                    inertial_xyz="0.0510674678450638 -0.000913596030336826 0.00018967560265748"
                    inertial_rpy="0 0 0"
                    mass="1.36168943853513"
                    ixx="0.00104858289038352"
                    ixy="-1.08364195639928E-06"
                    ixz="-3.21223748664443E-06"
                    iyy="0.00143021612447781"
                    iyz="6.36414747371485E-06"
                    izz="0.000964530516575813" />
    <xacro:v11_joint name="openarm_left_joint1" parent="openarm_left_link0" child="openarm_left_link1"
             xyz="0.02955 0 0" axis="-1 0 0" lower="-1.65" upper="3.21" effort="40" velocity="16.754666" />

    <xacro:v11_link name="openarm_left_link2"
                    visual_mesh="meshes/arm/v11/visual/openarm_left_link2.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_left_link2.stl"
                    inertial_xyz="4.39030954277331E-06 -0.0109767297381409 -0.0493722156179398"
                    inertial_rpy="0 0 0"
                    mass="0.382710061689688"
                    ixx="0.000147296912429958"
                    ixy="3.224749102429E-19"
                    ixz="1.89843125384024E-18"
                    iyy="0.000154909652915724"
                    iyz="-6.21556446202921E-06"
                    izz="0.00010321462940124" />
    <xacro:v11_joint name="openarm_left_joint2" parent="openarm_left_link1" child="openarm_left_link2"
             xyz="0.067 0.0229 0" axis="0 -1 0" lower="-0.36" upper="2.85" effort="40" velocity="16.754666" />

    <xacro:v11_link name="openarm_left_link3"
                    visual_mesh="meshes/arm/v11/visual/openarm_left_link3.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_left_link3.stl"
                    inertial_xyz="-0.0057711222647111 0.00153879401558112 -0.116662354828278"
                    inertial_rpy="0 0 0"
                    mass="2.15267179794945"
                    ixx="0.00336864330035189"
                    ixy="-6.93866846324199E-06"
                    ixz="-3.21626334941867E-05"
                    iyy="0.0030379454451582"
                    iyz="5.55415145677517E-05"
                    izz="0.00192735708614362" />
    <xacro:v11_joint name="openarm_left_joint3" parent="openarm_left_link2" child="openarm_left_link3"
             xyz="0 -0.0301 -0.07825" axis="0 0 -1" lower="-1.56" upper="1.56" effort="27" velocity="5.445426" />

    <xacro:v11_link name="openarm_left_link4"
                    visual_mesh="meshes/arm/v11/visual/openarm_left_link4.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_left_link4.stl"
                    inertial_xyz="0.00101358774641075 0.000719244813724687 -0.0705342765215728"
                    inertial_rpy="0 0 0"
                    mass="1.23729330213538"
                    ixx="0.000756536776812161"
                    ixy="6.0067579257475E-06"
                    ixz="-3.58507147356337E-06"
                    iyy="0.000740387056594952"
                    iyz="9.57571040959248E-07"
                    izz="0.000462406997093886" />
    <xacro:v11_joint name="openarm_left_joint4" parent="openarm_left_link3" child="openarm_left_link4"
             xyz="0 0 -0.1625" axis="-1 0 0" lower="0" upper="2.43" effort="27" velocity="5.445426" />

    <xacro:v11_link name="openarm_left_link5"
                    visual_mesh="meshes/arm/v11/visual/openarm_left_link5.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_left_link5.stl"
                    inertial_xyz="-0.000613936525762276 0.00378940910709564 -0.0515408835663986"
                    inertial_rpy="0 0 0"
                    mass="1.23846824161892"
                    ixx="0.000555679481910208"
                    ixy="-2.9071989569942E-07"
                    ixz="-2.048930109668E-06"
                    iyy="0.000550117138195471"
                    iyz="6.99379869888039E-07"
                    izz="0.000455409096309924" />
    <xacro:v11_joint name="openarm_left_joint5" parent="openarm_left_link4" child="openarm_left_link5"
             xyz="-0.0005 0 -0.0995" axis="0 0 -1" lower="-1.56" upper="1.56" effort="7" velocity="20.943946" />

    <xacro:v11_link name="openarm_left_link6"
                    visual_mesh="meshes/arm/v11/visual/openarm_left_link6.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_left_link6.stl"
                    inertial_xyz="-0.00450024889029188 -0.000542555181940557 9.36269217420294E-05"
                    inertial_rpy="0 0 0"
                    mass="1.16271797438437"
                    ixx="0.000453819868175537"
                    ixy="-7.5563533482144E-08"
                    ixz="-7.20909611208306E-09"
                    iyy="0.000444498115175791"
                    iyz="-4.4509926706574E-08"
                    izz="0.000440635092835192" />
    <xacro:v11_joint name="openarm_left_joint6" parent="openarm_left_link5" child="openarm_left_link6"
             xyz="0 0 -0.1259" axis="0 -1 0" lower="-0.6" upper="0.6" effort="7" velocity="20.943946" />

    <xacro:v11_link name="openarm_left_link7"
                    visual_mesh="meshes/arm/v11/visual/openarm_left_link7.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_left_link7.stl"
                    inertial_xyz="-0.0194397399683865 1.89142290508773E-05 -0.0761945075589546"
                    inertial_rpy="0 0 0"
                    mass="1.28286708295677"
                    ixx="0.00066969566511261"
                    ixy="4.56916959944114E-06"
                    ixz="6.72599674150262E-07"
                    iyy="0.000469269140481896"
                    iyz="-3.26738232949151E-11"
                    izz="0.000690843203492807" />
    <xacro:v11_joint name="openarm_left_joint7" parent="openarm_left_link6" child="openarm_left_link7"
             xyz="0.0199 0 0" axis="-1 0 0" lower="-1.56" upper="1.56" effort="7" velocity="20.943946" />

    <xacro:v11_finger link_name="openarm_left_link8"
                      visual_mesh="meshes/ee/openarm_hand_v2/visual/openarm_left_link8.stl"
                      collision_mesh="meshes/ee/openarm_hand_v2/collision/openarm_left_link8.stl"
                      inertial_xyz="-0.00101811824334996 0.00172774228466271 -0.0246179653553815"
                      inertial_rpy="0 0 0"
                      mass="0.293276331542225"
                      ixx="0.000116854064584277"
                      ixy="6.17158228161771E-07"
                      ixz="-3.60430637926512E-06"
                      iyy="0.000152330428211483"
                      iyz="2.01335670695175E-05"
                      izz="6.94504322910065E-05"
                      joint_name="openarm_left_joint8"
                      parent="openarm_left_link7"
                      child="openarm_left_link8"
                      xyz="-0.0205 -0.018499 -0.119"
                      axis="0 -1 0"
                      lower="0.0"
                      upper="0.044"
                      effort="7"
                      velocity="20" />

    <xacro:v11_finger link_name="openarm_left_link9"
                      visual_mesh="meshes/ee/openarm_hand_v2/visual/openarm_left_link9.stl"
                      collision_mesh="meshes/ee/openarm_hand_v2/collision/openarm_left_link9.stl"
                      inertial_xyz="0.00199225371514336 -0.00172789265684049 -0.0246193208504154"
                      inertial_rpy="0 0 0"
                      mass="0.293281702579517"
                      ixx="0.000116867742169468"
                      ixy="5.16498712406165E-08"
                      ixz="3.68519009207416E-06"
                      iyy="0.000152719497649736"
                      iyz="-2.01356486546468E-05"
                      izz="6.98266910179461E-05"
                      joint_name="openarm_left_joint9"
                      parent="openarm_left_link7"
                      child="openarm_left_link9"
                      xyz="-0.0205 0.018501 -0.119"
                      axis="0 -1 0"
                      lower="-0.044"
                      upper="0.0"
                      effort="7"
                      velocity="20"
                      mimic="openarm_left_joint8" />
  </xacro:macro>

  <xacro:macro name="v11_arm_right">
    <xacro:v11_link name="openarm_right_link0"
                    visual_mesh="meshes/arm/v11/visual/openarm_right_link0.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_right_link0.stl"
                    inertial_xyz="0.00129014185938002 0.00176219233563408 0.000786288869697449"
                    inertial_rpy="0 0 0"
                    mass="1.29923349213354"
                    ixx="0.00202401865845947"
                    ixy="-9.0418942202647E-06"
                    ixz="1.08333432306428E-06"
                    iyy="0.00143576529384292"
                    iyz="-7.91838268519229E-06"
                    izz="0.00105002491947796" />
    
    <xacro:v11_fixed_joint name="openarm_right_joint0"
                           parent="${v11_root_name}"
                           child="openarm_right_link0"
                           xyz="-0.0592 0 0.31803" />

    <xacro:v11_link name="openarm_right_link1"
                    visual_mesh="meshes/arm/v11/visual/openarm_right_link1.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_right_link1.stl"
                    inertial_xyz="-0.0509928095171143 -0.000913596030336103 0.000189675602616957"
                    inertial_rpy="0 0 0"
                    mass="1.36168943853513"
                    ixx="0.00104858289038349"
                    ixy="2.74116322555691E-06"
                    ixz="1.95759463491344E-06"
                    iyy="0.00143021612447781"
                    iyz="6.36414747371375E-06"
                    izz="0.000964530516575847" />
    <xacro:v11_joint name="openarm_right_joint1" parent="openarm_right_link0" child="openarm_right_link1"
             xyz="-0.0283 0 0" axis="-1 0 0" lower="-1.65" upper="3.21" effort="40" velocity="16.754666" />

    <xacro:v11_link name="openarm_right_link2"
                    visual_mesh="meshes/arm/v11/visual/openarm_right_link2.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_right_link2.stl"
                    inertial_xyz="4.57966997657877E-15 -0.0109792644845351 -0.0493741270028297"
                    inertial_rpy="0 0 0"
                    mass="0.382710061689688"
                    ixx="0.000147296912429958"
                    ixy="6.00992660962334E-19"
                    ixz="4.27098939442428E-18"
                    iyy="0.000154909652915724"
                    iyz="-6.21556446202921E-06"
                    izz="0.000103214629401239" />
    <xacro:v11_joint name="openarm_right_joint2" parent="openarm_right_link1" child="openarm_right_link2"
             xyz="-0.067 0.0229 0" axis="0 -1 0" lower="-2.85" upper="0.36" effort="40" velocity="16.754666" />

    <xacro:v11_link name="openarm_right_link3"
                    visual_mesh="meshes/arm/v11/visual/openarm_right_link3.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_right_link3.stl"
                    inertial_xyz="0.00485234678685817 0.00145914172209027 -0.116661828293252"
                    inertial_rpy="0 0 0"
                    mass="2.15267238186372"
                    ixx="0.00336469638904753"
                    ixy="4.26769228210362E-06"
                    ixz="3.41517539169588E-05"
                    iyy="0.00304290072458631"
                    iyz="2.88171970507999E-05"
                    izz="0.00192634822510347" />
    <xacro:v11_joint name="openarm_right_joint3" parent="openarm_right_link2" child="openarm_right_link3"
             xyz="0 -0.0301 -0.078253" axis="0 0 -1" lower="-1.56" upper="1.56" effort="27" velocity="5.445426" />

    <xacro:v11_link name="openarm_right_link4"
                    visual_mesh="meshes/arm/v11/visual/openarm_right_link4.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_right_link4.stl"
                    inertial_xyz="-0.00201358718501882 0.000718752607028183 -0.0705342763801437"
                    inertial_rpy="0 0 0"
                    mass="1.23729330939572"
                    ixx="0.000756459677368883"
                    ixy="-4.08064161702109E-06"
                    ixz="3.5850628487196E-06"
                    iyy="0.000740464121070408"
                    iyz="9.68417709293984E-07"
                    izz="0.000462407044320859" />
    <xacro:v11_joint name="openarm_right_joint4" parent="openarm_right_link3" child="openarm_right_link4"
             xyz="0 0 -0.1625" axis="-1 0 0" lower="0" upper="2.43" effort="27" velocity="5.445426" />

    <xacro:v11_link name="openarm_right_link5"
                    visual_mesh="meshes/arm/v11/visual/openarm_right_link5.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_right_link5.stl"
                    inertial_xyz="0.000659991714314245 0.0037495927884412 -0.0516300997579362"
                    inertial_rpy="0 0 0"
                    mass="1.23995594282003"
                    ixx="0.000555693903086943"
                    ixy="2.90721623481305E-07"
                    ixz="1.9599046437282E-06"
                    iyy="0.00055014422524295"
                    iyz="6.99379869887886E-07"
                    izz="0.000455423517486659" />
    <xacro:v11_joint name="openarm_right_joint5" parent="openarm_right_link4" child="openarm_right_link5"
             xyz="-0.0005 0 -0.0995" axis="0 0 -1" lower="-1.56" upper="1.56" effort="7" velocity="20.943946" />

    <xacro:v11_link name="openarm_right_link6"
                    visual_mesh="meshes/arm/v11/visual/openarm_right_link6.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_right_link6.stl"
                    inertial_xyz="0.00445604980072117 -0.000505584648715003 9.37468710868472E-05"
                    inertial_rpy="0 0 0"
                    mass="1.16123027318326"
                    ixx="0.000453805446998803"
                    ixy="7.55827335381621E-08"
                    ixz="7.20909611191962E-09"
                    iyy="0.000444471028128312"
                    iyz="4.45099267065899E-08"
                    izz="0.000440620671658457" />
    <xacro:v11_joint name="openarm_right_joint6" parent="openarm_right_link5" child="openarm_right_link6"
             xyz="0 0 -0.1259" axis="0 -1 0" lower="-0.6" upper="0.6" effort="7" velocity="20.943946" />

    <xacro:v11_link name="openarm_right_link7"
                    visual_mesh="meshes/arm/v11/visual/openarm_right_link7.stl"
                    collision_mesh="meshes/arm/v11/collision/openarm_right_link7.stl"
                    inertial_xyz="0.0194435327522072 3.59561199017935E-08 -0.0762921646103218"
                    inertial_rpy="0 0 0"
                    mass="1.28747265641728"
                    ixx="0.000669747823711307"
                    ixy="4.56902505313296E-06"
                    ixz="-6.72599674149513E-07"
                    iyy="0.000469321474011011"
                    iyz="3.26738155837592E-11"
                    izz="0.000690855559373446" />
    <xacro:v11_joint name="openarm_right_joint7" parent="openarm_right_link6" child="openarm_right_link7"
             xyz="-0.0199 0 0" axis="-1 0 0" lower="-1.56" upper="1.56" effort="7" velocity="20.943946" />

    <xacro:v11_finger link_name="openarm_right_link8"
                      visual_mesh="meshes/ee/openarm_hand_v2/visual/openarm_right_link8.stl"
                      collision_mesh="meshes/ee/openarm_hand_v2/collision/openarm_right_link8.stl"
                      inertial_xyz="-0.00101811823961093 0.00172774224891818 -0.024621172594379"
                      inertial_rpy="0 0 0"
                      mass="0.293276331723124"
                      ixx="0.000116854064615415"
                      ixy="6.17158236682002E-07"
                      ixz="-3.60430638123581E-06"
                      iyy="0.000152330428200738"
                      iyz="2.01335670836026E-05"
                      izz="6.94504322969539E-05"
                      joint_name="openarm_right_joint8"
                      parent="openarm_right_link7"
                      child="openarm_right_link8"
                      xyz="0.0205 -0.0185 -0.119"
                      axis="0 -1 0"
                      lower="0.0"
                      upper="0.044"
                      effort="7"
                      velocity="20" />

    <xacro:v11_finger link_name="openarm_right_link9"
                      visual_mesh="meshes/ee/openarm_hand_v2/visual/openarm_right_link9.stl"
                      collision_mesh="meshes/ee/openarm_hand_v2/collision/openarm_right_link9.stl"
                      inertial_xyz="0.00199225371493203 -0.00172789266709448 -0.0246225281341831"
                      inertial_rpy="0 0 0"
                      mass="0.293281702496599"
                      ixx="0.000116867743310699"
                      ixy="5.1649878812721E-08"
                      ixz="3.68519015447377E-06"
                      iyy="0.000152719498824034"
                      iyz="-2.01356487863785E-05"
                      izz="6.98266910427359E-05"
                      joint_name="openarm_right_joint9"
                      parent="openarm_right_link7"
                      child="openarm_right_link9"
                      xyz="0.0205 0.0185 -0.119"
                      axis="0 -1 0"
                      lower="-0.044"
                      upper="0.0"
                      effort="7"
                      velocity="20"
                      mimic="openarm_right_joint8" />
  </xacro:macro>

  <xacro:macro name="v11_head">
    <xacro:v11_link name="openarm_head_link0"
                    visual_mesh="meshes/head/v11/visual/openarm_head_link0.stl"
                    collision_mesh="meshes/head/v11/collision/openarm_head_link0.stl"
                    inertial_xyz="3.82136428886854E-07 -0.0019000995698488 -0.00644498533541293"
                    inertial_rpy="0 0 0"
                    mass="0.538360258292282"
                    ixx="0.000216348629003961"
                    ixy="1.19627488782688E-09"
                    ixz="-4.76105869335567E-09"
                    iyy="0.000428733658888925"
                    iyz="2.30027219577875E-06"
                    izz="0.000472039479089695" />
    <xacro:v11_fixed_joint name="openarm_head_joint0"
                           parent="${v11_root_name}"
                           child="openarm_head_link0"
                           xyz="0 0.0018601 0.42896" />

    <xacro:v11_link name="openarm_camera_link0"
                    visual_mesh="meshes/sensors/v11/visual/openarm_camera_link0.stl"
                    collision_mesh="meshes/sensors/v11/collision/openarm_camera_link0.stl"
                    inertial_xyz="0.000245615871234952 0.000549779467919009 -6.02924529609083E-05"
                    inertial_rpy="0 0 0"
                    mass="0.349032499464003"
                    ixx="3.07698794946109E-05"
                    ixy="-1.90720109226455E-06"
                    ixz="-2.4098883814607E-08"
                    iyy="0.000212768783227407"
                    iyz="8.46225491124618E-09"
                    izz="0.000213427968703466" />
    <xacro:v11_fixed_joint name="openarm_camera_joint0"
                           parent="${v11_root_name}"
                           child="openarm_camera_link0"
                           xyz="0 -0.029194 0.45743"
                           rpy="0.43633 0 0" />
  </xacro:macro>

  <xacro:if value="${bimanual}">
    <xacro:v11_arm_left />
    <xacro:v11_arm_right />
    <xacro:v11_head />
  </xacro:if>

  <xacro:unless value="${bimanual}">
    <xacro:if value="${arm_prefix == 'right_'}">
      <xacro:v11_arm_right />
    </xacro:if>
    <xacro:unless value="${arm_prefix == 'right_'}">
      <xacro:v11_arm_left />
    </xacro:unless>
    <xacro:v11_head />
  </xacro:unless>

  <!-- 地面坐标系锚点：world 与机身基座 (body_link0) 重合。
       真机 / MoveIt / 仿真共用；仿真若需离地高度请在 spawn 时加 -z 偏移，
       不要在此处修改 world→base 变换。 -->
  <link name="world" />
  <joint name="world_to_openarm" type="fixed">
    <origin xyz="0 0 0.38" rpy="0 0 0" />
    <parent link="world" />
    <child link="${v11_root_name}" />
  </joint>

  <xacro:if value="${ros2_control}">
    <xacro:if value="${bimanual}">
      <xacro:openarm_bimanual_ros2_control
        arm_type="${arm_type}"
        control_gains="${xacro.load_yaml('$(find openarm_description)/config/arm/v10/control_gains.yaml')}"
        left_can_interface="${left_can_interface}"
        right_can_interface="${right_can_interface}"
        motor_backend="${motor_backend}"
        robstride_master_id="${robstride_master_id}"
        robstride_joint_ids="${robstride_joint_ids}"
        robstride_joint_types="${robstride_joint_types}"
        robstride_gripper_id="${robstride_gripper_id}"
        robstride_gripper_type="${robstride_gripper_type}"
        auto_return_to_zero_on_activate="${auto_return_to_zero_on_activate}"
        limit_margin="${limit_margin}"
        limit_stop_margin="${limit_stop_margin}"
        limit_decel_factor="${limit_decel_factor}"
        zero_torque_kd="${zero_torque_kd}"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="false"
        hand="${hand}"
        left_arm_prefix="left_"
        right_arm_prefix="right_"
        can_fd="true" />
    </xacro:if>
    <xacro:unless value="${bimanual}">
      <xacro:openarm_arm_ros2_control
        arm_type="${arm_type}"
        control_gains="${xacro.load_yaml('$(find openarm_description)/config/arm/v10/control_gains.yaml')}"
        can_interface="${can_interface}"
        motor_backend="${motor_backend}"
        robstride_master_id="${robstride_master_id}"
        robstride_joint_ids="${robstride_joint_ids}"
        robstride_joint_types="${robstride_joint_types}"
        robstride_gripper_id="${robstride_gripper_id}"
        robstride_gripper_type="${robstride_gripper_type}"
        auto_return_to_zero_on_activate="${auto_return_to_zero_on_activate}"
        limit_margin="${limit_margin}"
        limit_stop_margin="${limit_stop_margin}"
        limit_decel_factor="${limit_decel_factor}"
        zero_torque_kd="${zero_torque_kd}"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="false"
        hand="${hand}"
        arm_prefix="${arm_prefix}"
        can_fd="true" />
    </xacro:unless>
  </xacro:if>

</robot>