<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
          <!--
            核心作用是通过参数化、可复用的方式生成 ROS 2 Control 所需的硬件接口与关节配置，
            是连接 “机械臂硬件描述” 与 “C++ 硬件接口代码”（hardware interface ） 的关键桥梁,
           
            这个 Xacro 文件和之前的 C++ 文件（v10_simple_hardware.hpp/cpp）是 ROS 2 Control 硬件接口的「配置层」与「实现层」的关系，
            二者通过 ROS 2 Control 框架和 pluginlib 插件机制紧密配合，共同完成机械臂的硬件抽象与控制
           -->
<xacro:macro name="openarm_arm_ros2_control"
         params="arm_type
             control_gains
             can_interface
       motor_backend:=^|'damiao'
       robstride_master_id:=^|253
       robstride_joint_ids:=^|'1,2,3,4,5,6,7'
      robstride_joint_types:=^|'3,3,6,6,0,0,0'
       robstride_gripper_id:=^|8
       robstride_gripper_type:=^|0
       auto_return_to_zero_on_activate:=^|false
             use_fake_hardware:=^|false
             fake_sensor_commands:=^|false
             hand:=^|false
             gazebo_effort:=^|false
             arm_prefix:=''
             bimanual:=false
             can_fd:=^|true">

    <ros2_control name="openarm_hardware_interface" type="system">
        <hardware>
          <param name="arm_type">${arm_type}</param>
          <param name="prefix">${arm_prefix}</param>
          <xacro:if value="${use_fake_hardware}">
            <plugin>mock_components/GenericSystem</plugin>
            <param name="fake_sensor_commands">${fake_sensor_commands}</param>
            <param name="state_following_offset">0.0</param>
          </xacro:if>
          <xacro:if value="${use_fake_hardware == 0}">
            <plugin>openarm_hardware/OpenArm_${arm_type}HW</plugin>
            <!--ROS 2 Control 启动时，读取 URDF 中的 <ros2_control> 标签：
              看到 <plugin>openarm_hardware/OpenArm_v10HW</plugin>；
              通过 pluginlib 找到 C++ 注册的 OpenArm_v10HW 类；
              动态创建 OpenArm_v10HW 的实例。
             -->
            <!-- 参数传递：所有 <param> 标签的内容，都会被 ROS 2 Control 框架封装到 hardware_interface::HardwareInfo 的 hardware_parameters 中，
            然后被 C++ 代码的 parse_config 函数读取 —— 这是Xacro 配置与 C++ 代码的核心连接点。
            -->
            <param name="can_interface">${can_interface}</param>
            <param name="arm_prefix">${arm_prefix}</param>
            <param name="motor_backend">${motor_backend}</param>
            <param name="robstride_master_id">${robstride_master_id}</param>
            <param name="robstride_joint_ids">${robstride_joint_ids}</param>
            <param name="robstride_joint_types">${robstride_joint_types}</param>
            <param name="robstride_gripper_id">${robstride_gripper_id}</param>
            <param name="robstride_gripper_type">${robstride_gripper_type}</param>
            <param name="auto_return_to_zero_on_activate">${auto_return_to_zero_on_activate}</param>
            <param name="hand">${hand}</param>
            <param name="can_fd">${can_fd}</param>
            <param name="kp1">${control_gains['joint1']['kp']}</param>
            <param name="kp2">${control_gains['joint2']['kp']}</param>
            <param name="kp3">${control_gains['joint3']['kp']}</param>
            <param name="kp4">${control_gains['joint4']['kp']}</param>
            <param name="kp5">${control_gains['joint5']['kp']}</param>
            <param name="kp6">${control_gains['joint6']['kp']}</param>
            <param name="kp7">${control_gains['joint7']['kp']}</param>
            <param name="kd1">${control_gains['joint1']['kd']}</param>
            <param name="kd2">${control_gains['joint2']['kd']}</param>
            <param name="kd3">${control_gains['joint3']['kd']}</param>
            <param name="kd4">${control_gains['joint4']['kd']}</param>
            <param name="kd5">${control_gains['joint5']['kd']}</param>
            <param name="kd6">${control_gains['joint6']['kd']}</param>
            <param name="kd7">${control_gains['joint7']['kd']}</param>
          </xacro:if>
        </hardware>

      <xacro:macro name="configure_joint" params="joint_name initial_position">
        <joint name="${joint_name}">
          <!--
            deactivated for gazebo velocity and position interface due to a bug
            https://github.com/ros-controls/gz_ros2_control/issues/343

            Xacro 里的 <command_interface>/<state_interface> 告诉框架 “这个硬件有哪些可写的命令、哪些可读的状态”；
            C++ 里的 export_command_interfaces()/export_state_interfaces() 实际把这些接口的内存地址暴露给框架，让框架能读写数据

            Command Interfaces -->
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>

          <!-- State Interfaces -->
          <state_interface name="position">
            <param name="initial_value">${initial_position}</param>
          </state_interface>

          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>

          <state_interface name="effort">
            <param name="initial_value">0.0</param>
          </state_interface>

        </joint>
      </xacro:macro>

      <xacro:configure_joint joint_name="openarm_${arm_prefix}joint1" initial_position="0.0"/>
      <xacro:configure_joint joint_name="openarm_${arm_prefix}joint2" initial_position="0.0"/>
      <xacro:configure_joint joint_name="openarm_${arm_prefix}joint3" initial_position="0.0"/>
      <xacro:configure_joint joint_name="openarm_${arm_prefix}joint4" initial_position="0.0"/>
      <xacro:configure_joint joint_name="openarm_${arm_prefix}joint5" initial_position="0.0"/>
      <xacro:configure_joint joint_name="openarm_${arm_prefix}joint6" initial_position="0.0"/>
      <xacro:configure_joint joint_name="openarm_${arm_prefix}joint7" initial_position="0.0"/>

      <xacro:if value="${hand}">
        <xacro:configure_joint joint_name="openarm_${arm_prefix}finger_joint1" initial_position="0.0" />
      </xacro:if>

    </ros2_control>

  </xacro:macro>


</robot>
